<a routerLinkActive="active" routerLink="inicio">Inicio</a>
<a routerLinkActive="active" routerLink="ingresar">Ingresar</a>
<a routerLinkActive="active" routerLink="alumnos">Alumnos</a>
<a routerLinkActive="active" routerLink="asignaturas">Asignaturas</a>
<a routerLinkActive="active" routerLink="calificaciones">Calificaciones</a>
<a routerLinkActive="active" routerLink="ciclos">Ciclos</a>
<a routerLinkActive="active" routerLink="documentos">Documentos</a>
<a routerLinkActive="active" routerLink="grupos">Grupos</a>
<a routerLinkActive="active" routerLink="plataforma">Plataforma</a>
<a routerLinkActive="active" routerLink="usuarios">Usuarios</a>